@model Autenticacion.Models.Cita
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Edit";
}

<h1>Editar cita</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @if (User.IsInRole("Administrador"))
              {
                <input type="hidden" asp-for="CitaId" />
                <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                    <input asp-for="ClienteId" class="form-control"/>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
                }
            else{
                <input type="hidden" asp-for="CitaId" />
                <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                    <input asp-for="ClienteId" class="form-control" readonly />
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            }
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label"></label>
                <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.ServicioId"></select>
                <span asp-validation-for="ServicioId" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Administrador")){
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-for="Estado" class="form-control">
                        <option value="Pendiente">Pendiente</option>
                        <option value="Completado">Completado</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                }
            else{
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" readonly />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>



                }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
